# Import Packages

In [2]:
import pandas as pd

# Add in Data

In [3]:
students = pd.DataFrame(data = [["Student1","English","Undergrad", 4, 19],
                          ["Student2","CS", "Grad", 2, 26],
                          ["Student3","Math","Grad", 3, 29],
                          ["Student4","CS", "Undergrad", 3, 22],
                          ["Student5","Math", "Undergrad", 4, 20],
                          ["Student6","CS", "Undergrad", 3, 24]],
                columns = ["Student", "Major","Undergrad/Grad", "GPA", "Age"])

In [4]:
students.head(4)

    Student    Major Undergrad/Grad  GPA  Age
0  Student1  English      Undergrad    4   19
1  Student2       CS           Grad    2   26
2  Student3     Math           Grad    3   29
3  Student4       CS      Undergrad    3   22

In [5]:
students.head(3)

    Student    Major Undergrad/Grad  GPA  Age
0  Student1  English      Undergrad    4   19
1  Student2       CS           Grad    2   26
2  Student3     Math           Grad    3   29

# Subsetting

In [6]:
students.Major

0    English
1         CS
2       Math
3         CS
4       Math
5         CS
Name: Major, dtype: object

In [7]:
students[['Major','Age']]

     Major  Age
0  English   19
1       CS   26
2     Math   29
3       CS   22
4     Math   20
5       CS   24

# Descriptive Statistics Functions

In [8]:
students.describe()

            GPA        Age
count  6.000000   6.000000
mean   3.166667  23.333333
std    0.752773   3.777124
min    2.000000  19.000000
25%    3.000000  20.500000
50%    3.000000  23.000000
75%    3.750000  25.500000
max    4.000000  29.000000

In [9]:
students.describe(include=['O'])

         Student Major Undergrad/Grad
count          6     6              6
unique         6     3              2
top     Student3    CS      Undergrad
freq           1     3              4

In [10]:
students.Age.mean()

23.333333333333332

In [11]:
students.Age.median()

23.0

In [12]:
students.Age.std()

3.777124126457412

In [13]:
students.Major.value_counts()

CS         3
Math       2
English    1
Name: Major, dtype: int64

# Import Data - CSV

In [14]:
Honey = pd.read_excel('./..data/datasets_20465_26638_honeyproduction.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: './..data/datasets_20465_26638_honeyproduction.xlsx'

In [15]:
Honey.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,WY,34000.0,36,1224000.0,282000.0,1.59,1946000.0,2010
1,WY,35000.0,54,1890000.0,265000.0,1.72,3251000.0,2011
2,WY,37000.0,72,2664000.0,746000.0,0.61,1625000.0,1999
3,WY,37000.0,48,1776000.0,391000.0,1.43,2540000.0,2009
4,WY,38000.0,77,2926000.0,468000.0,0.65,1902000.0,2001

In [16]:
Honey = pd.read_csv('C:/Users/meredith.dodd/Documents/Workshops/DSO101/datasets_20465_26638_honeyproduction.csv')

FileNotFoundError: File b'C:/Users/meredith.dodd/Documents/Workshops/DSO101/datasets_20465_26638_honeyproduction.csv' does not exist

In [17]:
Honey = pd.read_csv('C:\Users\meredith.dodd\Documents\Workshops\DSO101\DataExplorationExcel\datasets_20465_26638_honeyproduction.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-17-2f5e51d8d95d>, line 1)

In [18]:
Honey = pd.read_csv('datasets_20465_26638_honeyproduction.csv')

# Example of Markdown

# Example of Markdown 2