## Interactive Dasboard with Viola

We are going to create widgets to add to our interactive dashboard! FYI-A widget is an element of a graphical user interface (GUI) that displays information or provides a specific way for a user to interact with the operating system or an application.

In [16]:
import numpy as np
import pandas as pd
import folium

In [17]:
df = pd.read_csv('C:/Users/Windows/Desktop/honey.csv')

In [18]:
df.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,AL,9000.0,66,594000.0,214000,1.90,1129000,2008
1,AZ,25000.0,64,1600000.0,336000,1.26,2016000,2008
2,AR,28000.0,75,2100000.0,525000,1.35,2835000,2008
3,CA,360000.0,51,18360000.0,4039000,1.39,25520000,2008
4,CO,27000.0,45,1215000.0,656000,1.51,1835000,2008

### Creating Interactive Widgets

Let's create 3 widgets. A slider widget that enables use to see a range of our data and two multiple selection widgets.

In [33]:
import ipywidgets as widgets

This slider widget will control how many rows of our data set we can load. If the slider value is 1000, Pandas should load the first number of rows to match. For example, our honey data has 201 rows. So let's set our value somewhere in the middle. Then set the min and max accordingly. Then, we use step as the value increment or decrement when we move the slider up and down

In [34]:
style = {'description_width': 'initial'}
limit_case = widgets.IntSlider(
    value=101,
    min=1,
    max=202,
    step=1,
    description='Max amount of States:',
    disabled=False,
    style=style)

In [35]:

def update_df_length(limit):
    
    df = pd.read_csv('C:/Users/Windows/Desktop/honey.csv')
    df = df.iloc[0:limit, :]
    
    print("Number of rows in the dataset that have been successfully loaded:"+str(len(df)))

In [36]:
widgets.interactive(update_df_length, limit=limit_case)

Number of rows in the dataset that have been successfully loaded:101