In [ ]:
# Create mentor-student database:

!pip install ipython-sql

%load_ext sql

%sql sqlite:///mentor-student.db

In [ ]:
%%sql

CREATE TABLE `callLog` (
  `callLogId` int,
  `mentorId` int,
  `studentId` int,
  `dateTime` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`callLogId`)
);

INSERT INTO `callLog` VALUES (1,'1','1','2021-10-06 13:04:05'),(2,'1','2','2021-10-01 11:26:27'),(3,'1','3','2021-10-02 09:14:06'),(4,'2','4','2021-10-03 15:52:59'),(5,'2','2','2021-10-04 13:19:11'),(6,'3','2','2021-10-05 02:33:45');


CREATE TABLE `city` (
  `cityId` int,
  `cityName` varchar(45),
  PRIMARY KEY (`cityId`)
);

INSERT INTO `city` VALUES (1,'Phoenix'),(2,'Las Vegas'),(3,'Miami');

CREATE TABLE `mentors` (
  `mentorId` int,
  `mentorName` varchar(45),
  PRIMARY KEY (`mentorId`)
);

INSERT INTO `mentors` VALUES (1,'Callan'),(2,'Britt'),(3,'Joe'),(4,'Cass'),(5,'Daniel'),(6,'Shaun');

CREATE TABLE `students` (
  `studentId` int,
  `studentName` varchar(45),
  `cityId` int,
  PRIMARY KEY (`studentId`),
  CONSTRAINT `city` FOREIGN KEY (`cityId`) REFERENCES `city` (`cityId`)
);

INSERT INTO `students` VALUES (1,'Jon',1),(2,'Jane',2),(3,'Andrew',3),(4,'Stephen',1),(5,'Sarah',1),(6,'Kim',2);

CREATE TABLE `studentIdentification` (
  `studentId` int,
  `fullId` varchar(45),
  PRIMARY KEY (`studentId`),
  CONSTRAINT `fullId` FOREIGN KEY (`studentId`) REFERENCES `students` (`studentId`)
);

INSERT INTO `studentIdentification` VALUES (1,'85643215SWD'),(2,'89654398DSO'),(3,'21405478SWD'),(4,'65321098SWD'),(5,'30124578DSO'),(6,'10254901CSO');