### Lesson 4 expands upon the concept of vectors, and introduces the idea of arithmetic functions; along with utilizing sample statistics

Recall the discussion on vectors from lesson 4. [Further Reading](https://towardsdatascience.com/a-practical-look-at-vectors-and-your-data-95bde21b37d1)

Let's make a basic vector of randomized numbers. Then look at some aggregate, and common functions:

In [15]:
# Here I am creating a a vector of 15 randomized btween 15 and 515.
x = runif(15, min = 15, max = 515)

In [16]:
View(x)

 [1] 293.05612 159.81966 374.53203  69.41613 453.18160 448.32336 366.27261
 [8] 387.95453 196.43339  76.58778 442.22991 379.45244 447.31746 249.30713
[15] 506.33739

In [17]:
# round to zero decimals
example = round(x)

In [18]:
head(example)

[1] 293 160 375  69 453 448

In [19]:
# largest element in vector
max(example)

[1] 506

In [20]:
# smallest element
min(example)

[1] 69

In [ ]:
# count of elements in vector

In [21]:
length(example)

[1] 15

In [22]:
# arranged from smallest to largest
sort(example)

 [1]  69  77 160 196 249 293 366 375 379 388 442 447 448 453 506

In [1]:
library(datasets)

In [4]:
# Let's look at a stock dataset
airmiles

A Time Series:
 [1]   412   480   683  1052  1385  1418  1634  2178  3362  5948  6109  5981
[13]  6753  8003 10566 12528 14760 16769 19819 22362 25340 25343 29269 30514

##### The revenue passenger miles flown by commercial airlines in the United States for each year from 1937 to 1960.

In [7]:
# maximum
max(airmiles)

[1] 30514

In [8]:
# minimum
min(airmiles)

[1] 412