# In progress - T test example 
#### By Melissa Gonzalez and Marcy Misner 
--- 
Below is a link which explains when to use a tilde and commas in different instances. There are examples of both in current curriculum, but it doesn't explain the difference. This is the [link](http://www.sthda.com/english/wiki/paired-samples-t-test-in-r#:~:text=The%20paired%20samples%20t%2Dtest,t%2Dtest%20using%20R%20software.&text=Compute%20the%20mean%20(m)%20and,standard%20deviation%20(s)%20of%20d)

![A screenshot of t test examples to illustrate when to use tilde or commas.](../Media/t-test-examples.png)

#### Example with nhtemp data frame using a tilde in a paired t test. 
+ First, we're going to create a data frame using a built-in dataset.

In [3]:
first30 <- nhtemp[1:30]
last30 <- nhtemp[31:60]

temps <- data.frame(first30, last30)
head(temps)

  first30 last30
1 49.9    51.0
2 52.3    50.6
3 49.4    51.7
4 51.1    51.5
5 49.4    52.1
6 47.9    51.3

+ Next we'll run a paired t test using the two columns inside this data frame.

In [5]:
tempsT <- t.test(first30~last30, data=temps, paired=TRUE)
tempsT

ERROR: Error in t.test.formula(first30 ~ last30, data = temps, paired = TRUE): grouping factor must have exactly 2 levels

In [6]:
nhtemp

A Time Series:
 [1] 49.9 52.3 49.4 51.1 49.4 47.9 49.8 50.9 49.3 51.9 50.8 49.6 49.3 50.6 48.4
[16] 50.7 50.9 50.6 51.5 52.8 51.8 51.1 49.8 50.2 50.4 51.6 51.8 50.9 48.8 51.7
[31] 51.0 50.6 51.7 51.5 52.1 51.3 51.0 54.0 51.4 52.7 53.1 54.6 52.0 52.0 50.9
[46] 52.6 50.2 52.6 51.6 51.9 50.5 50.9 51.7 51.4 51.7 50.8 51.9 51.8 51.9 53.0