In [27]:
#### install packages ####
#https://tidyr.tidyverse.org/
#https://github.com/rstudio/cheatsheets/blob/master/data-import.pdf
install.packages("tidyr")

#https://dplyr.tidyverse.org/
#https://github.com/rstudio/cheatsheets/blob/master/data-transformation.pdf
install.packages("dyplyr")

install.packages("tidyverse")

The downloaded binary packages are in
	/var/folders/wk/6why77bn1kn0l0pkd4vd3zl00000gn/T//RtmplyrvbX/downloaded_packages

Warning message:
“package ‘dyplyr’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”

The downloaded binary packages are in
	/var/folders/wk/6why77bn1kn0l0pkd4vd3zl00000gn/T//RtmplyrvbX/downloaded_packages

In [28]:
#### Load in Packages ####
library(tidyr) 
library(dplyr)

In [29]:
# To see you current path use:
getwd()

[1] "/Users/jsr/Documents/GitHub/DS-Student-Resources/DS104-Data-Wrangling-and-Visualization/Workshops/01-Data-Wrangling-in-R"

In [39]:
#volcanoes.csv
volcanoes = read.csv('../../Data/volcanoes.csv')
head(volcanoes)

  volcano_number volcano_name    eruption_number eruption_start_year
1 210020         Chaine des Puys 10011           -4040
2 210020         Chaine des Puys 10011           -4040
3 210020         Chaine des Puys 10011           -4040
4 210020         Chaine des Puys 10011           -4040
5 210020         Chaine des Puys 10011           -4040
6 210020         Chaine des Puys 10011           -4040
  event_number event_type            event_remarks event_date_year
1 100001       Explosion             NA            NA
2 100002       Scoria                NA            NA
3 100003       Pyroclastic flow      NA            NA
4 100004       Lava flow(s)          NA            NA
5 100005       Cinder cone formation NA            NA
6 100006       Pumice                NA            NA
  event_date_month event_date_day
1 NA               NA
2 NA               NA
3 NA               NA
4 NA               NA
5 NA               NA
6 NA               NA

In [31]:
# Add Columns
volcanoes$ErruptionYN = "Y"

In [32]:
#notice the new ErruptionYN column
head(volcanoes)

  volcano_number volcano_name    eruption_number eruption_start_year
1 210020         Chaine des Puys 10011           -4040
2 210020         Chaine des Puys 10011           -4040
3 210020         Chaine des Puys 10011           -4040
4 210020         Chaine des Puys 10011           -4040
5 210020         Chaine des Puys 10011           -4040
6 210020         Chaine des Puys 10011           -4040
  event_number event_type            event_remarks event_date_year
1 100001       Explosion             NA            NA
2 100002       Scoria                NA            NA
3 100003       Pyroclastic flow      NA            NA
4 100004       Lava flow(s)          NA            NA
5 100005       Cinder cone formation NA            NA
6 100006       Pumice                NA            NA
  event_date_month event_date_day ErruptionYN
1 NA               NA             Y
2 NA               NA             Y
3 NA               NA             Y
4 NA               NA             Y
5 NA               NA             Y
6 NA               NA             Y

In [33]:
# Rename Columns notice the renaming of event_remarks to Notes
names(volcanoes)[names(volcanoes) == "event_remarks"] <- "Notes"
head(volcanoes)

  volcano_number volcano_name    eruption_number eruption_start_year
1 210020         Chaine des Puys 10011           -4040
2 210020         Chaine des Puys 10011           -4040
3 210020         Chaine des Puys 10011           -4040
4 210020         Chaine des Puys 10011           -4040
5 210020         Chaine des Puys 10011           -4040
6 210020         Chaine des Puys 10011           -4040
  event_number event_type            Notes event_date_year event_date_month
1 100001       Explosion             NA    NA              NA
2 100002       Scoria                NA    NA              NA
3 100003       Pyroclastic flow      NA    NA              NA
4 100004       Lava flow(s)          NA    NA              NA
5 100005       Cinder cone formation NA    NA              NA
6 100006       Pumice                NA    NA              NA
  event_date_day ErruptionYN
1 NA             Y
2 NA             Y
3 NA             Y
4 NA             Y
5 NA             Y
6 NA             Y

In [34]:
# Combine Columns, notice how we combined volcano_name with event_type into the new column name called NameType
# https://www.rdocumentation.org/packages/tidyr/versions/0.8.3/topics/unite
volcanoes1 <- unite(volcanoes, NameType, volcano_name, event_type, sep = ",") 
head(volcanoes1)

  volcano_number NameType                              eruption_number
1 210020         Chaine des Puys,Explosion             10011
2 210020         Chaine des Puys,Scoria                10011
3 210020         Chaine des Puys,Pyroclastic flow      10011
4 210020         Chaine des Puys,Lava flow(s)          10011
5 210020         Chaine des Puys,Cinder cone formation 10011
6 210020         Chaine des Puys,Pumice                10011
  eruption_start_year event_number Notes event_date_year event_date_month
1 -4040               100001       NA    NA              NA
2 -4040               100002       NA    NA              NA
3 -4040               100003       NA    NA              NA
4 -4040               100004       NA    NA              NA
5 -4040               100005       NA    NA              NA
6 -4040               100006       NA    NA              NA
  event_date_day ErruptionYN
1 NA             Y
2 NA             Y
3 NA             Y
4 NA             Y
5 NA             Y
6 NA             Y

In [35]:
# Separate Columns, notice how we are separating the NameType into 2 new columns called Name and Type
# https://www.rdocumentation.org/packages/tidyr/versions/1.1.4/topics/separate
volcanoes2 <- separate(volcanoes1, NameType, c("Name", "Type"), sep=",")
head(volcanoes2)

Warning message:
“Expected 2 pieces. Additional pieces discarded in 2060 rows [1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, ...].”

  volcano_number Name            Type                  eruption_number
1 210020         Chaine des Puys Explosion             10011
2 210020         Chaine des Puys Scoria                10011
3 210020         Chaine des Puys Pyroclastic flow      10011
4 210020         Chaine des Puys Lava flow(s)          10011
5 210020         Chaine des Puys Cinder cone formation 10011
6 210020         Chaine des Puys Pumice                10011
  eruption_start_year event_number Notes event_date_year event_date_month
1 -4040               100001       NA    NA              NA
2 -4040               100002       NA    NA              NA
3 -4040               100003       NA    NA              NA
4 -4040               100004       NA    NA              NA
5 -4040               100005       NA    NA              NA
6 -4040               100006       NA    NA              NA
  event_date_day ErruptionYN
1 NA             Y
2 NA             Y
3 NA             Y
4 NA             Y
5 NA             Y
6 NA             Y

In [36]:
# Subset Data - keep only the first two rows of data
volcanoes3 <- volcanoes2[1:2,]
head(volcanoes3)

  volcano_number Name            Type      eruption_number eruption_start_year
1 210020         Chaine des Puys Explosion 10011           -4040
2 210020         Chaine des Puys Scoria    10011           -4040
  event_number Notes event_date_year event_date_month event_date_day
1 100001       NA    NA              NA               NA
2 100002       NA    NA              NA               NA
  ErruptionYN
1 Y
2 Y

In [37]:
# Subset by keeping columns
volcanoes4 <- volcanoes3 %>% select(Name, Type)
head(volcanoes4)

  Name            Type
1 Chaine des Puys Explosion
2 Chaine des Puys Scoria

In [38]:
head(volcanoes)

  volcano_number volcano_name    eruption_number eruption_start_year
1 210020         Chaine des Puys 10011           -4040
2 210020         Chaine des Puys 10011           -4040
3 210020         Chaine des Puys 10011           -4040
4 210020         Chaine des Puys 10011           -4040
5 210020         Chaine des Puys 10011           -4040
6 210020         Chaine des Puys 10011           -4040
  event_number event_type            Notes event_date_year event_date_month
1 100001       Explosion             NA    NA              NA
2 100002       Scoria                NA    NA              NA
3 100003       Pyroclastic flow      NA    NA              NA
4 100004       Lava flow(s)          NA    NA              NA
5 100005       Cinder cone formation NA    NA              NA
6 100006       Pumice                NA    NA              NA
  event_date_day ErruptionYN
1 NA             Y
2 NA             Y
3 NA             Y
4 NA             Y
5 NA             Y
6 NA             Y