## Creating Crosstabs in Python

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Windows/Desktop/cars.csv')

In [3]:
df.head()

          Car   Location
0        Ford  Northwest
1        Ford       East
2  Mitsubishi  Northwest
3      Datsun  Northwest
4  Mitsubishi  Southwest

In [5]:
df.shape

(87, 2)

This method is used to compute a simple cross-tabulation of two (or more) factors.

In [8]:
pd.crosstab(df['Car'], df['Location'])

Location    East  Northwest  Southwest
Car
Datsun         1          2          2
Dodge          6          6          6
Ford           7          6          6
Jaguar         7         10         16
Mitsubishi     3          4          5

## Practice!

Try creating your own crosstab with any dataset with the steps above!